* {
  padding: 0;
  margin: 0;
  text-decoration-style: none;
}

body {
  background-color: black!important;
  color: rgb(227, 242, 255)!important;
}


.card {
  background-color: black!important;
}

.controls-top {
  display: flex;
  justify-content: center;
  
}

.controls-top .fas {
  background-color: aqua!important;
}
button {
  background-color: aqua!important;
}